In [13]:
import pandas as pd
from collections import Counter
from nltk.corpus import stopwords
from stop_words import get_stop_words

In [20]:
#Stop Words Intialise
pd.set_option('display.max_rows',100)
my_stopwords =[
    'like',
    'one',
    'much',
    'even',
    'also',
    'get',
    'made',
    'pour',
    'thanks',
    'right',
    'looking',
    'sure',
    'come',
    'feel',
    'anyone',
    'find',
    'ever',
    'always',
    'things',
    'thought',
    'plus',
    'lot',
    'use',
    'dans',
    'time',
    'day',
    'minutes',
    'way',
    'minute',
    'days',
    'people',
    'need',
    'lots',
    'check',
    'back'
]

stopWords = get_stop_words('english')+stopwords.words('english')+get_stop_words('french')+stopwords.words('french')+my_stopwords

In [15]:
listings = pd.read_csv('Data\great_listings.csv')

listings.head()

,listing_id,room_type,bedrooms,amenities,city,county,latitude,longitude,nightly_rate,nights_booked,annual_rev,rating,host_id,host_is_superhost,reviews,rating_group
0,46288136,Entire home/apt,6.0,"[""Barbecue utensils"", ""Dishwasher"", ""Ceiling f...",Canning,Queens,45.935570,-66.163940,2500.0,274.0,685000.0,5.00,69992536,f,My second time renting this Lakehouse; I just ...,Above Median
1,48008983,Entire home/apt,5.0,"[""Barbecue utensils"", ""Dishwasher"", ""Cleaning ...",Moncton,Westmorland,46.070310,-64.722380,900.0,365.0,328500.0,4.94,235219382,f,Perfect property to create lasting family memo...,Above Median
2,584610532085909767,Entire home/apt,5.0,"[""Standalone high chair - available upon reque...",Saint Andrews,Charlotte,45.133434,-67.044991,866.0,357.0,309162.0,4.92,170452143,t,"This home was everything we hoped for, and mor...",Above Median
3,48015259,Entire home/apt,3.0,"[""Dryer"", ""Kitchen"", ""Iron"", ""Fire extinguishe...",Shediac,Westmorland,46.235000,-64.460200,600.0,365.0,219000.0,5.00,52640230,f,Très bel emplacement !<br/>Tout près de la pla...,Above Median
4,37249672,Entire home/apt,9.0,"[""Barbecue utensils"", ""Dishwasher"", ""Beach acc...",Blackville,Northumberland,46.733240,-65.829510,1075.0,188.0,202100.0,5.00,180166596,f,Perfect spot for a relaxing weekend get away! ...,Above Median

In [16]:
#We are going to look at the most offered amenities amongst our top listings. 
# The data is a strings so we remove all non alpahbet character, except the spaces and commas
listings['amenities'] = listings['amenities'].str.replace(r'[^a-zA-Z, ]', '', regex=True)

#We then create a combined string of all ameniities from every listing and use the .split() method to create a list of the words, split on the comma. 
amenities = listings['amenities'].str.cat()
amenities = amenities.split(',')

#Counter then counts the occurances
amenities_count = Counter(amenities)

#Convert the counter dictionary into a pandas dataframe. We make it a list first and then sort it in descending to get the top used words. 
amenities_count = pd.DataFrame(list(amenities_count.items()), columns=['Amenity', 'Count'])
amenities_count=amenities_count.sort_values(by='Count',ascending=False)

amenities_count.head(10)

                      Amenity  Count
35                Smoke alarm    892
8                     Kitchen    872
59      Dishes and silverware    863
41                 Essentials    850
16             Cooking basics    804
37               Refrigerator    798
33                  Hot water    796
45                       Wifi    765
24                    Hangers    757
32   Free parking on premises    756

In [17]:
#Let's see what the most common words are used by guest when reviewing these great listings
listings['reviews'] = listings['reviews'].str.replace(r'.<br/>', '', regex=True)
listings['reviews'] = listings['reviews'].str.replace(r'[^a-zA-Z ]', ' ', regex=True)
listings['reviews']
#We then create a combined string of all reviews from every listing and use the .split() method to create a list of the words, split on the comma. 
reviews = listings['reviews'].str.cat()
reviews = reviews.split(' ')

reviews_cleaned= []

for word in reviews:
    if word.lower() not in stopWords and len(word) > 2 :
        reviews_cleaned.append(word.lower())

#Counter then counts the occurances
reviews_count = Counter(reviews_cleaned)

#Convert the counter dictionary into a pandas dataframe. We make it a list first and then sort it in descending to get the top used words. 
reviews_count = pd.DataFrame(list(reviews_count.items()), columns=['Review_Term', 'Count'])
reviews_count=reviews_count.sort_values(by='Count',ascending=False)

reviews_count.head(10)

     Review_Term  Count
104        great  14408
40         place  14302
114         stay  13301
139        clean   9115
109   everything   6872
138     location   6667
57     beautiful   6074
102    recommend   5217
183  comfortable   4751
154         nice   4568

In [19]:
#export files
amenities_count.to_csv('Data\\amenities_count.csv',index=False)
reviews_count.to_csv('Data\\reviews_count.csv',index=False)